<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRADEMARK LICENSE AGREEMENT</title>
</head>
<body>
    <div style="max-width: 80%; margin: auto;padding: 20px;color: #000;">
        <img src="https://cdn.shopify.com/s/files/1/0562/7723/7892/files/kbb-logo_250x.png" alt="kelly Baker Brows" style="margin: auto;display: block;">
        <h4 style="font-size: 20px;margin: 10px;text-align: center;"><strong>TRADEMARK LICENSE AGREEMENT</strong></h4>
        <p>This Trademark License Agreement (hereinafter “Agreement") is made effective as of [DATE] (the "Effective Date") by and between: </p>
        <br>
        <p><strong>LICENSOR: </strong>Kelley Baker Beauty, LLC, registered at 23550 Silver Aspen Way, Ste 836,
            Valencia CA 91381 and </p>
        <br>
        <p><strong>LICENSE:</strong><input type="text" name="license" value=<%= fullName %>>, registered at <input type="text" name="registered" value=<%= registeredAt %>>>(hereinafter both collectively referred as the "the Parties"). </p>
        <br>
        <p><strong>RECITALS</strong></p>
        <p>WHEREAS, Licensor has adopted, registered, and used the trademark “Kelley Baker” and “Kelley Baker Brows” ("Trademark") throughout the world in connection with various make up products, and services related to eyebrows and makeup; and</p>
        <br>
        <p>WHEREAS, Licensee desires to use the Trademark, in both logo form and by name, in connection with ; and </p>
        <p>WHEREAS, Licensor, subject to the terms and conditions set forth in this Agreement, is willing to permit Licensee to use the Trademark specifically in connection with the retail sales of products manufactured and sold to Licensee by Licensor for the mutual benefit of Licensor and Licensee.</p>
        <br>
        <p>NOW, THEREFORE, the Parties agree to the mutual covenants set forth below for good consideration, the receipt and sufficiency of which are hereby acknowledged:</p>
        <br>
        <h3>1. LICENSE</h3>
        <p><strong>1.1 Scope of License.</strong>Subject to the terms and conditions set forth in this Agreement, Licensor grants to Licensee a non-exclusive, non-transferable, license to use the Trademark in connection with the retail sales of products manufactured and sold to Licensee by Licensor. Licensee shall make no other use of the Trademark. Licensee may use the Trademark on Licensee’s direct business website, inside Licensee’s business storefront(s), and on Licensee’s social media account(s). Licensee may not use the Trademark or sell products protected by the Trademark on any third-party seller platform</p>
        <br>
        <p><strong>1.2 Non-Assignment.</strong> Licensee acknowledges and agrees that the rights granted to Licensee by and obtained by Licensee as a result of or in connection with this Agreement are license rights only, and nothing contained in this Agreement constitutes or shall be construed to be an assignment of any or all of Licensor's rights in the Trademark</p>
        <br>
        <h3>2. LICENSOR'S CONTROL </h3>
        <p>2.1. To protect and preserve Licensor's rights in the Trademark, Licensee understands, acknowledges, and agrees that (i) before Licensee uses the Trademark, Licensor must approve of all aspects of Licensee's intended use; and (ii) once Lincensee has attained Licensor's approval. Licensee may not make any alterations, modifications, or changes to the Trademark, or use it in any way other than specifically outlined in the Agreement. </p>
        <br>
        <h3>3. USE OF THE TRADEMARK </h3>
        <p><strong>3.1 Trademark Format.</strong>  Licensor retains the right to specify, from time to time, the format in which Licensee shall use and display the Trademark, and Licensee shall only use or display the Trademark in a format approved by Licensor.  </p>
        <br>
        <p><strong>3.2 Proper Notice and Acknowledgment.</strong> Every use of the Trademark by Licensee shall incorporate in an appropriate manner an "R" enclosed by a circle</p>
        <br>
        <p><strong>3.3 Impairment of Licensor's Rights.</strong>Licensee shall not at any time, whether during or after the term of this Agreement, do or cause to be done any act or thing challenging, contesting, impairing, invalidating, or tending to impair or invalidate any of Licensor's rights in the     Trademark or any registrations derived from such rights.</p>
        <br>
        <p><strong>3.4 Licensor's Rights and Remedies.</strong> Licensee acknowledges and agrees that Licensor has, shall retain, and may exercise during the term of this Agreement and thereafter--all rights and remedies available to Licensor, whether derived from this Agreement, from law, or otherwise, as a result of or in connection with Licensee's breach of this Agreement, misuse of the Trademark, or any other use of the Trademark by Licensee which is not expressly permitted by this Agreement. </p>
        <br>
        <h3>4. TERM AND TERMINATION </h3>
        <p><strong>4.1 Term.</strong>
            The term of this Agreement shall last for 5 (FIVE) years from the date of
            signature; provided, however, that neither party terminates this Agreement, with or without
            cause, by delivering written notice of termination to the other party, and, unless a later date is
            specified in such notice, termination shall be effective 30 (THIRTY) days after the date such
            notice is given unless otherwise specified in a Termination Notice. </p>
        <br>
        <p><strong>4.2 Termination for Cause</strong> Notwithstanding the provisions of Section 4.1 of this
                Agreement, this Agreement and all rights granted hereby, including but not limited to
                Licensee's right to use the Trademark, shall automatically terminate without notice from
                Licensor if (i) Licensee attempts to assign, sub-license, transfer or otherwise convey, without
                first obtaining Licensor's written consent, any of the rights granted to Licensee by or in
                connection with this Agreement; (ii) Licensee fails to obtain Licensor's approval of
                Licensee's use of the Trademark in accordance with Section 2 of this Agreement; (iii)
                Licensee uses the Trademark in a manner in violation of, or otherwise inconsistent with, the
                restrictions imposed by or in connection with Section 3 of this Agreement; or (iv) Licensee
                uses the Trademark in a manner not expressly permitted by this Agreement. 
        </p>
        <br>
        <p><strong>4.3 Effect of Termination</strong> All rights granted by this Agreement, including, without
            limitation, Licensee's right to use the Trademark, shall expire upon termination of this
            Agreement, and upon termination Licensee shall immediately cease and desist from all
            further use of the Trademark. </p>
        <br>
        <h3>5. MISCELLANEOUS</h3>
        <p><strong>5.1 Assignment.</strong>Licensee shall not assign, sublicense, transfer, or otherwise convey
            Licensee's rights or obligations under this Agreement without Licensor's prior written
            consent. Licensee shall indemnify and hold harmless Licensor against all liability, costs, and
            expenses, including but not limited to a reasonable attorneys' fee, arising out of or in
            connection with claims relating to an attempted assignment, sublicense, transfer, or other
            conveyance of Licensee's rights and obligations.</p>
        <br>
        <p><strong>5.2 Applicable Law.</strong> This Agreement shall be interpreted, construed, and enforced pursuant to, and in accordance with, the laws of the State of California.  </p>
        <br>
        <p><strong>5.3 Entire Agreement.</strong>This Agreement supersedes all previous agreements, understandings,
            and arrangements between the parties, whether oral or written, and constitutes the entire
            agreement between the parties.</p>
        <br>
        <p><strong>5.4 Amendments.</strong>This Agreement may not be modified, amended, altered, or supplemented
            except by an agreement in writing executed by the parties hereto. </p>
        <br>
        <p><strong>5.5 Waivers.</strong> The waiver by either party of a breach or other violation of any provision of
            this Agreement shall not operate as, or be construed to be, a waiver of any subsequent breach
            of the same or other provision of this Agreement.</p>
        <br>
        <p><strong>5.6 Notice</strong> Unless otherwise provided herein, any notice, demand, or communication
            required, permitted, or desired to be given hereunder shall be in writing and shall be delivered
            by mail or by email.</p>
        <br>
        <p>IN WITNESS WHEREOF, the parties hereto have caused this Agreement to be executed by
            their duly authorized representatives as of the date first set forth above. </p>
        <br>
        <h3><strong>6. SIGNATURE’S OF THE PARTIES</strong></h3>
        <p><strong>Licensor's Signature: </strong><input type="text" name="license-signature"></p>
        <br>
        <p><strong>Date: </strong><input type="date" name="license-date" value=<%= date %>></p>
        <br>
        <p><strong>Print Name:</strong><input type="text" name="print-name" value=<%= printName %>></p>
        <br>
        <p><strong>Title:</strong><input type="text" name="title" value=<%= title %>></p>
        <br>
        <p><strong>Licensor's Signature: </strong><input type="text" name="license-signature2"></p>
        <br>
        <p><strong>Date: </strong><input type="date" name="license-date2" value=<%= date2 %>></p>
        <br>
        <p><strong>Print Name:</strong><input type="text" name="print-name2" value=<%= printName2 %>></p>
        <br>
        <p><strong>Title:</strong><input type="text" name="title2" value=<%= title2 %>></p>
    </div>
</body>
</html>